@charset "UTF-8";
/* font */
@import url("https://fonts.googleapis.com/css2? family= Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600; 1,700;1,800 & mostrar=cambiar");
/* misc */
.sp-xlarge {
  padding: 5rem; }

.sp-large {
  padding: 3rem; }

.sp-medium {
  padding: 2rem; }

.sp-small {
  padding: 1.5rem; }

.sp-xsmall {
  padding: 1rem; }

/* helpers */
.container {
  max-width: 1200px;
  margin: 0 auto; }

/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: o;
  box-sizing: border-box; }

/* globals */
html {
  font-size: 62.5%; }

p {
  font-size: 2.4em;
  /* 16px */ }

ul {
  list-style-type: none;
  padding-left: 0; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  /* Convierte en bloque la línea */ }

h1 {
  color: #f4f4f4;
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em; }

span {
  margin: 0; }

section {
  padding: 5rem 0rem 5rem 0rem; }

.title {
  color: #cc0303;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  margin: 1em; }

.subtitle {
  color: #222;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin: 1em; }

/* button */
button {
  display: flex;
  justify-content: center;
  align-items: center; }

.button-primary {
  color: white;
  font-family: "Open Sans";
  font-size: 1.5em;
  border-radius: 0.5rem;
  background-color: #cc0303;
  border: none;
  padding: 4px;
  font-weight: 400;
  width: fit-content;
  height: 4rem;
  margin: 4px;
  text-align: center;
  align-items: center;
  justify-content: center; }

.button-secondary {
  color: white;
  font-family: "Open Sans";
  font-size: 0.7em;
  border-radius: 0.5rem;
  background-color: #cc0303;
  border: none;
  padding: 4px;
  font-weight: 600;
  height: 3rem;
  margin: 4px; }

.button-terciary {
  color: #cc0303;
  font-family: "Open Sans";
  font-size: 1.5em;
  border-radius: 0.5rem;
  border: none;
  padding: 4px;
  font-weight: 600;
  height: 3rem;
  margin: 4px; }

.button-outline {
  color: #cc0303;
  font-family: "Open Sans";
  font-size: 1em;
  border-radius: 0.5rem;
  border: 1px solid #cc0303;
  padding: 4px;
  font-weight: 600;
  height: 3rem;
  margin: 4px;
  width: 16rem;
  text-align: center; }

/* partials */
/* footer */
a:link,
a:visited,
a:active {
  text-decoration: none; }

footer {
  margin: 1rem;
  border-radius: 1rem;
  align-items: center;
  background-color: #222;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 5rem; }

.gridFooter__menu {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-area: "gridFooter__left gridFooter__leftCenter gridFooter__rightCenter gridFooter__right";
  column-gap: 2rem; }

.gridFooter__pxsol {
  padding: 2rem 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-area: "gridFooter__logotype" "gridFooter__pxsol" "gridFooter_socialMedia";
  justify-content: center;
  align-content: center;
  row-gap: 2rem; }

.footer__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  color: white; }

.footer__list {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
  color: white; }
  .footer__list a {
    color: inherit;
    text-decoration: none;
    color: white; }
  .footer__list ul a:hover {
    opacity: 1; }

.footer__list--item {
  text-align: left;
  color: white; }

.gridFooter__logotype {
  display: grid;
  justify-content: center;
  align-content: center;
  column-gap: 2rem; }

.gridFooter__socialMedia {
  justify-content: center;
  align-content: center;
  column-gap: 2rem; }

.gridFooter__copyright {
  color: #f4f4f4;
  font-size: 0.5em;
  grid-area: 3;
  column-gap: 2rem; }
  .gridFooter__copyright p {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    color: white; }

@media (max-width: 576px) {
  .gridFooter__menu {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-area: "gridFooter__left" "gridFooter__leftCenter" "gridFooter__rightCenter" "gridFooter__right";
    justify-content: left;
    align-content: left;
    row-gap: 2rem; }
  .gridFooter__pxsol {
    padding: 2rem 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-area: "griddFooter__logotype" "griddFooter__pxsol" "griddFooter_socialMedia";
    justify-content: left;
    align-content: center;
    row-gap: 2rem; }
  .gridFooter__logotype {
    display: grid;
    justify-content: center;
    align-content: center;
    row-gap: 2rem; }
  .gridFooter__socialMedia {
    justify-content: center;
    align-content: center;
    row-gap: 2rem; }
  .footer__list--item {
    text-align: center;
    color: white; }
  h3 {
    text-align: center; } }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #222;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 3rem; }
  header h1 {
    color: #cc0303;
    font-size: 4em;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1em; }
  header h2 {
    color: #222;
    font-size: 3em;
    font-weight: 300;
    text-align: left;
    margin-bottom: 1em; }
  header .subtitle {
    color: #f4f4f4;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1em; }

nav {
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 2rem 0; }
  nav .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
    padding: 0 2rem; }
  nav .logo {
    flex-basis: 10%; }
  nav .menu {
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    flex-wrap: wrap; }
    nav .menu .menu__item {
      text-align: center;
      color: #222; }
      nav .menu .menu__item:hover {
        color: #cc0303;
        font-weight: 400; }
      nav .menu .menu__item .menu__link {
        font-size: 1.5em;
        padding: 1rem; }

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 15px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f4f4f4; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

/* partners */
.grid-partner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "1 2 3 4 5" "6 7 8 9";
  justify-items: stretch;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem; }

.partner__card {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: grid;
  align-items: center;
  justify-items: center; }
  .partner__card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2); }

.partner__cards--logotipo {
  width: 15rem; }

/* resources */
.grid-resources {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: stretch;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem; }

.card-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.card-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.card-3 {
  grid-column: 2 / 3;
  grid-row: 1 / 3; }

.card-resources-left {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 50%;
  display: grid;
  grid-template-rows: repeat(6, 1fr); }

.card-resources-left__image {
  grid-row: 1 / 3; }

.card-resources-left__subtitle {
  grid-row: 3 / 4; }

.card-resources-left__description {
  grid-row: 4 / 5; }

.card-resources-left__button {
  grid-row: 5 / 6; }

.card-resources-right {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 50%; }

.card-resources__image {
  grid-row: 1 / 3;
  justify-items: stretch;
  width: 15rem; }

.card-resources__subtitle {
  grid-row: 3 / 4; }

.card-resources__description {
  grid-row: 4 / 5; }

.card-resources__button {
  grid-row: 5 / 6; }

/* social proof */
.socialProof__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 0.5rem; }

.social-proof__picture {
  grid-column: 1 / 3;
  grid-row: 1 / 5; }
  .social-proof__picture img {
    border-radius: 2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.social-proof__card {
  grid-column: 2 / 4;
  grid-row: 2 / 4; }

.card {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-left: 3px solid #cc0303; }
  .card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2); }

.social-proof__stars {
  width: 2rem;
  margin: .5rem; }

.social-proof__comment p {
  font-size: 2em;
  font-weight: 300;
  text-align: left;
  color: #222;
  font-style: italic; }

.social-proof__user p {
  font-size: 2em;
  font-weight: 500;
  text-align: left;
  color: #cc0303;
  margin: 2rem 0; }

.social-proof__logotipo {
  width: 10rem; }

@media (max-width: 576px) {
  .socialProof__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1rem;
    margin: 1rem; }
  .social-proof__picture {
    grid-column: 1 / 5;
    grid-row: 1 / 3; }
    .social-proof__picture img {
      border-radius: 2rem;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      width: 94vw; }
  .social-proof__card {
    grid-column: 2 / 4;
    grid-row: 2 / 4; }
  .card {
    border-radius: 1rem;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-left: 3px solid #cc0303; }
    .card:hover {
      transform: scale(1.02);
      box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2); }
  .social-proof__stars {
    width: 2rem;
    margin: .5rem; }
  .social-proof__comment p {
    font-size: 2em;
    font-weight: 300;
    text-align: left;
    color: #222;
    font-style: italic; }
  .social-proof__user p {
    font-size: 2em;
    font-weight: 500;
    text-align: left;
    color: #cc0303;
    margin: 2rem 0; }
  .social-proof__logotipo {
    width: 12em; } }

/* views */
/* qué aprenderas */
.que-aprenderas {
  justify-content: center;
  align-items: center; }

.que-aprenderas__cards {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.que-aprenderas__cards--feature {
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  padding: 4rem;
  max-width: 50rem;
  border-top: 3px solid #cc0303; }
  .que-aprenderas__cards--feature p {
    font-size: 2em;
    font-weight: 300;
    text-align: left;
    color: #222; }

.que-aprenderas__cards--img {
  width: 3rem;
  padding: 1rem 0; }

/* ventajas */
.grid-ventajas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "1 2 3" "4 5 6";
  row-gap: 1rem;
  column-gap: 1rem; }

.ventajas__cards--feature {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  padding: 4rem;
  max-width: 58rem;
  border-top: 3px solid #cc0303;
  transition: transform 1s ease-in; }
  .ventajas__cards--feature:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2); }
  .ventajas__cards--feature p {
    font-size: 2em;
    font-weight: 300;
    text-align: left;
    color: #222; }
  .ventajas__cards--feature h3 {
    font-size: 2em;
    font-weight: 500;
    text-align: left;
    color: #cc0303; }

@media (max-width: 576px) {
  .grid-ventajas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "1" "2" "3" "4" "5" "6";
    row-gap: 1rem; }
  .ventajas__cards--feature {
    border-radius: 1rem;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 4rem;
    max-width: 90vw;
    border-top: 3px solid #cc0303;
    transition: transform 1s ease-in; } }

/* products */
.products {
  margin: 1rem;
  border-radius: 1rem;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 5rem;
  justify-content: center;
  align-items: center; }

.grid-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "channelManager motordeReservas pms" "paginaWeb crmHotelero pxsolAds"; }

/* referrals */
.referrals {
  margin: 1rem;
  border-radius: 1rem;
  align-items: center;
  background-image: linear-gradient(to right, #f02222, #fe6b6b);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  justify-content: space-around;
  align-items: center; }
  .referrals h3 {
    text-align: left;
    line-height: 120%;
    font-size: 2em;
    color: #f4f4f4;
    text-align: left;
    padding: 2rem; }
  .referrals h3 span {
    text-align: left;
    line-height: 120%;
    font-size: 2em;
    color: #f4f4f4;
    text-align: left;
    padding: 2rem; }

/* pricing for template */
.header-templates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "sectionLeft sectionCenter-left sectionCenter-right sectionRight";
  transition: transform 1s ease-in; }

.ventajas__cards--feature:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2); }

.card__pricing {
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 4rem;
  min-width: 30rem;
  flex-wrap: wrap;
  height: 40rem; }

.card__pricing--title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 2em;
  color: #cc0303; }

.card__pricing--description {
  font-size: 2em;
  font-weight: 300;
  text-align: left;
  color: #222;
  padding: 2rem 0; }

/* header webinars */
.grid-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "sectionLeft-image sectionCenter-title sectionRight-contact"; }
  .grid-header .sectionLeft-image {
    grid-area: sectionLeft-image;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 2rem; }
  .grid-header .sectionCenter-title {
    grid-area: sectionCenter-title;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 2rem; }
  .grid-header .sectionRight-contact {
    grid-area: sectionRight-contact;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem; }

/* speakers */
.speaker {
  justify-content: center;
  align-content: center; }

.speaker__cards {
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 4rem;
  min-width: 50rem;
  display: grid;
  align-items: center;
  justify-items: center; }

.speaker__img {
  justify-content: center;
  align-content: center; }

.speaker__cards--name {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  color: #222; }

.speaker__cards--position {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  color: #cc0303; }

.speaker__cards--business {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  color: #222; }

@media (max-width: 576px) {
  .speaker {
    justify-content: center;
    align-content: center; }
  .speaker__cards {
    border-radius: 1rem;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    min-width: 93vw;
    display: grid;
    align-items: center;
    justify-items: center; } }

/* contact form */
.title__contactForm {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 2em;
  color: #cc0303;
  text-align: center; }

.card__contactForm {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-top: 3px solid #cc0303;
  padding: 3rem;
  display: grid;
  justify-content: center;
  align-items: center; }
  .card__contactForm p {
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
    color: #222; }
