@charset "UTF-8";
/* font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* misc */
.sp-xlarge {
  padding: 5rem; }

.sp-large {
  padding: 3rem; }

.sp-medium {
  padding: 2rem; }

.sp-small {
  padding: 1.5rem; }

.sp-xsmall {
  padding: 1rem; }

/* helpers */
.container {
  max-width: 1200px;
  margin: 0 auto; }

/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: o;
  box-sizing: border-box; }

/* globals */
html {
  font-size: 62.5%;
  font-family: Work Sans; }

p {
  font-size: 2.4em;
  /* 16px */ }

ul,
li,
ol {
  list-style-type: none;
  padding-left: 0; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  /* Convierte en bloque la línea */ }

h1 {
  color: #f4f4f4;
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em; }

span {
  margin: 0; }

section {
  padding: 1rem 0rem 1rem 0rem; }

.title {
  color: #cc0303;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  margin: 1em; }

.subtitle {
  color: #222;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin: 1em; }

/* button */
button {
  display: flex;
  justify-content: center;
  align-items: center; }

.button-primary {
  color: white;
  font-family: "Work Sans";
  font-size: 1.5em;
  border-radius: 2rem;
  background-color: #cc0303;
  border: none;
  padding: 4px;
  font-weight: 400;
  width: auto;
  height: 4rem;
  padding: 0 4rem;
  margin: 4px;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .button-primary:hover {
    color: white;
    background-color: #00A2FF; }

.button-secondary {
  color: white;
  font-family: "Work Sans";
  font-size: 0.7em;
  border-radius: 2rem;
  background-color: #cc0303;
  border: none;
  padding: 4px;
  font-weight: 600;
  height: 3rem;
  margin: 4px; }

.button-terciary {
  color: #cc0303;
  font-family: "Work Sans";
  font-size: 1.5em;
  border-radius: 2rem;
  border: none;
  padding: 4px;
  font-weight: 600;
  height: 3rem;
  margin: 4px; }

.button-outline {
  color: white;
  font-family: "Work Sans";
  font-size: 1.5em;
  border-radius: 2rem;
  border: 1px solid white;
  padding: 4px;
  font-weight: 400;
  height: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .button-outline:hover {
    color: #cc0303;
    background-color: white; }

/* partials */
/* footer */
a:link,
a:visited,
a:active {
  text-decoration: none; }

footer {
  margin: 1rem;
  border-radius: 1rem;
  align-items: center;
  background-color: #222;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 5rem; }

.gridFooter__menu {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-area: "gridFooter__left gridFooter__leftCenter gridFooter__rightCenter gridFooter__right";
  column-gap: 2rem; }

.gridFooter__pxsol {
  padding: 2rem 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-area: "gridFooter__logotype" "gridFooter__pxsol" "gridFooter_socialMedia";
  justify-content: center;
  align-content: center;
  row-gap: 2rem; }

.footer__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  color: white; }

.footer__list {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
  color: white; }
  .footer__list a {
    color: inherit;
    text-decoration: none;
    color: white; }
  .footer__list ul a:hover {
    opacity: 1; }

.footer__list--item {
  text-align: left;
  color: white; }

.gridFooter__logotype {
  display: grid;
  justify-content: center;
  align-content: center;
  column-gap: 2rem; }

.gridFooter__socialMedia {
  justify-content: center;
  align-content: center;
  column-gap: 2rem; }

.gridFooter__copyright {
  color: #f4f4f4;
  font-size: 0.5em;
  grid-area: 3;
  column-gap: 2rem; }
  .gridFooter__copyright p {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    color: white; }

@media (max-width: 576px) {
  .gridFooter__menu {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-area: "gridFooter__left" "gridFooter__leftCenter" "gridFooter__rightCenter" "gridFooter__right";
    justify-content: left;
    align-content: left;
    row-gap: 2rem; }
  .gridFooter__pxsol {
    padding: 2rem 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-area: "griddFooter__logotype" "griddFooter__pxsol" "griddFooter_socialMedia";
    justify-content: left;
    align-content: center;
    row-gap: 2rem; }
  .gridFooter__logotype {
    display: grid;
    justify-content: center;
    align-content: center;
    row-gap: 2rem; }
  .gridFooter__socialMedia {
    justify-content: center;
    align-content: center;
    row-gap: 2rem; }
  .footer__list--item {
    text-align: center;
    color: white; }
  h3 {
    text-align: center; } }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #222;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 3rem; }
  header h1 {
    color: #f4f4f4;
    font-size: 4em;
    font-weight: 500;
    text-align: center; }
  header .subtitle {
    color: #f4f4f4;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    width: 60vw; }
  header .header__img {
    width: 50vw;
    margin: 2rem 0; }

@media (max-width: 576px) {
  header .header__img {
    width: 80vw; } }

nav {
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 2rem 0; }
  nav .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
    padding: 0 2rem; }
  nav .logo {
    flex-basis: 10%; }
  nav .menu {
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    flex-wrap: wrap; }
    nav .menu .menu__item {
      text-align: center;
      color: #222; }
      nav .menu .menu__item:hover {
        color: #cc0303;
        font-weight: 400; }
      nav .menu .menu__item .menu__link {
        font-size: 1.5em;
        padding: 1rem; }

/* partners */
.grid-partner {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "1 2 3 4 5" "6 7 8 9";
  justify-items: stretch;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem; }

.partner__card {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: grid;
  align-items: center;
  justify-items: center; }
  .partner__card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2); }

.partner__cards--logotipo {
  width: 15rem; }

@media (max-width: 576px) {
  .grid-partner {
    margin: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "1 2" "3 4" "5 6" "7 8" "9";
    justify-items: stretch;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem; } }

/* resources */
.grid-resources {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: stretch;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem; }

.card-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.card-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.card-3 {
  grid-column: 2 / 3;
  grid-row: 1 / 3; }

.card-resources-left {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 50%;
  display: grid;
  grid-template-rows: repeat(6, 1fr); }

.card-resources-left__image {
  grid-row: 1 / 3; }

.card-resources-left__subtitle {
  grid-row: 3 / 4; }

.card-resources-left__description {
  grid-row: 4 / 5; }

.card-resources-left__button {
  grid-row: 5 / 6; }

.card-resources-right {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 50%; }

.card-resources__image {
  grid-row: 1 / 3;
  justify-items: stretch;
  width: 15rem; }

.card-resources__subtitle {
  grid-row: 3 / 4; }

.card-resources__description {
  grid-row: 4 / 5; }

.card-resources__button {
  grid-row: 5 / 6; }

/* social proof */
.socialProof__grid {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 0.5rem; }

.social-proof__picture {
  grid-column: 1 / 3;
  grid-row: 1 / 5; }
  .social-proof__picture img {
    border-radius: 2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.social-proof__card {
  grid-column: 2 / 4;
  grid-row: 2 / 4; }

.card {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-left: 3px solid #cc0303; }
  .card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2); }

.social-proof__stars {
  width: 2rem;
  margin: .5rem; }

.social-proof__comment p {
  font-size: 2em;
  font-weight: 300;
  text-align: left;
  color: #222;
  font-style: italic; }

.social-proof__user p {
  font-size: 2em;
  font-weight: 500;
  text-align: left;
  color: #cc0303;
  margin: 2rem 0; }

.social-proof__logotipo {
  width: 10rem; }

@media (max-width: 576px) {
  .socialProof__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1rem;
    margin: 1rem; }
  .social-proof__picture {
    grid-column: 1 / 5;
    grid-row: 1 / 3; }
    .social-proof__picture img {
      border-radius: 2rem;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      width: 94vw; }
  .social-proof__card {
    grid-column: 2 / 6;
    grid-row: 2 / 4s; }
  .card {
    border-radius: 1rem;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-left: 3px solid #cc0303; }
    .card:hover {
      transform: scale(1.02);
      box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2); }
  .social-proof__stars {
    width: 2rem;
    margin: .5rem; }
  .social-proof__comment p {
    font-size: 2em;
    font-weight: 300;
    text-align: left;
    color: #222;
    font-style: italic; }
  .social-proof__user p {
    font-size: 2em;
    font-weight: 500;
    text-align: left;
    color: #cc0303;
    margin: 2rem 0; }
  .social-proof__logotipo {
    width: 12em; } }

/* referrals */
.referrals {
  margin: 1rem;
  border-radius: 1rem;
  align-items: center;
  background-image: linear-gradient(to right, #f02222, #fe6b6b);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  align-items: center; }
  .referrals h3 {
    text-align: left;
    line-height: 120%;
    font-size: 3em;
    color: #f4f4f4;
    text-align: left;
    padding: 2rem;
    font-weight: 400; }
  .referrals .grid-referrals {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-around;
    align-items: center;
    grid-area: "picture__referrals title__referrals button__referrals ";
    margin: 1rem;
    padding: 5rem; }

@media (max-width: 576px) {
  .grid-referrals {
    display: grid;
    grid-template-rows: 1fr 1fr .25fr; }
  .picture__referrals {
    grid-row: 1 / 2; }
  .title__referrals {
    grid-row: 2 / 3; }
  .button__referrals {
    grid-row: 3 / 4; } }

/* views */
/* ventajas */
.grid-ventajas {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "1 2 3" "4 5 6";
  row-gap: 1rem;
  column-gap: 1rem; }

.ventajas__cards--feature {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  padding: 4rem;
  max-width: 58rem;
  border-top: 3px solid #cc0303;
  transition: transform 1s ease-in;
  margin: 1rem; }
  .ventajas__cards--feature:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2); }
  .ventajas__cards--feature p {
    font-size: 2em;
    font-weight: 300;
    text-align: left;
    color: #222; }
  .ventajas__cards--feature h3 {
    font-size: 2em;
    font-weight: 500;
    text-align: left;
    color: #cc0303; }
  .ventajas__cards--feature .beneficios__item--picture {
    width: 3rem;
    margin: 2rem 0; }

@media (max-width: 576px) {
  .grid-ventajas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "1" "2" "3" "4" "5" "6"; }
  .ventajas__cards--feature {
    border-radius: 1rem;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-top: 3px solid #cc0303;
    transition: transform 1s ease-in; } }

/* products */
.products {
  margin: 1rem;
  border-radius: 1rem;
  background-color: #cc0303;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, #f02222, #fe6b6b);
  padding: 2rem;
  justify-content: center;
  align-items: center; }
  .products .product__picture {
    height: 10rem;
    margin: 3rem 0; }
  .products .title {
    color: white;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    margin: 1em; }
  .products .subtitle {
    color: white;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin: 1em; }

.grid-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "channelManager motordeReservas pms" "paginaWeb crmHotelero pxsolAds";
  row-gap: 2rem;
  column-gap: 2rem; }
  .grid-products .product__card {
    flex-wrap: wrap;
    padding: 2rem;
    max-width: 58rem;
    transition: transform 1s ease-in;
    margin: 1rem;
    border: 1px solid white;
    border-radius: 1rem; }
    .grid-products .product__card p {
      box-sizing: border-box;
      color: white;
      font-size: 2em;
      font-weight: 600;
      text-align: left;
      text-transform: uppercase;
      margin: 2rem 0;
      border-left: white solid 1px;
      padding-left: 1rem; }
    .grid-products .product__card li {
      font-size: 2em;
      font-weight: 400;
      text-align: left;
      color: white;
      margin: 1rem 0;
      list-style-type: decimal-leading-zero; }
    .grid-products .product__card span {
      font-size: 1.5em;
      font-weight: 300;
      text-align: left;
      color: white;
      text-transform: uppercase; }
    .grid-products .product__card ol {
      padding-left: 3.1rem;
      margin: 4rem 0; }

@media (max-width: 576px) {
  .grid-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "channelManager" "motordeReservas" "pms" "paginaWeb" "crmHotelero" "pxsolAds";
    row-gap: 2rem;
    column-gap: 2rem; }
    .grid-products .product__card {
      flex-wrap: wrap;
      padding: 2rem;
      max-width: 58rem;
      transition: transform 1s ease-in;
      margin: 1rem;
      border: 1px solid white;
      border-radius: 1rem; }
      .grid-products .product__card p {
        box-sizing: border-box;
        color: white;
        font-size: 2em;
        font-weight: 600;
        text-align: left;
        text-transform: uppercase;
        margin: 2rem 0;
        border-left: white solid 1px;
        padding-left: 1rem; }
      .grid-products .product__card li {
        font-size: 2em;
        font-weight: 400;
        text-align: left;
        color: white;
        margin: 1rem 0;
        list-style-type: decimal-leading-zero; }
      .grid-products .product__card span {
        font-size: 1.5em;
        font-weight: 300;
        text-align: left;
        color: white;
        text-transform: uppercase; }
      .grid-products .product__card ol {
        padding-left: 3.1rem;
        margin: 4rem 0; } }

/* pricing for template */
.header-templates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "sectionLeft sectionCenter-left sectionCenter-right sectionRight";
  transition: transform 1s ease-in; }

.ventajas__cards--feature:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2); }

.card__pricing {
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 4rem;
  min-width: 30rem;
  flex-wrap: wrap;
  height: 40rem; }

.card__pricing--title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 2em;
  color: #cc0303; }

.card__pricing--description {
  font-size: 2em;
  font-weight: 300;
  text-align: left;
  color: #222;
  padding: 2rem 0; }

/* header webinars */
.grid-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "sectionLeft-image sectionCenter-title sectionRight-contact"; }
  .grid-header .sectionLeft-image {
    grid-area: sectionLeft-image;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 2rem; }
  .grid-header .sectionCenter-title {
    grid-area: sectionCenter-title;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 2rem; }
  .grid-header .sectionRight-contact {
    grid-area: sectionRight-contact;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem; }

/* qué aprenderas */
.que-aprenderas {
  justify-content: center;
  align-items: center; }

.que-aprenderas__cards {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.que-aprenderas__cards--feature {
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  padding: 4rem;
  max-width: 50rem;
  border-top: 3px solid #cc0303; }
  .que-aprenderas__cards--feature p {
    font-size: 2em;
    font-weight: 300;
    text-align: left;
    color: #222; }

.que-aprenderas__cards--img {
  width: 3rem;
  padding: 1rem 0; }

/* speakers */
.speaker {
  justify-content: center;
  align-content: center; }

.speaker__cards {
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 4rem;
  width: 50rem;
  display: grid;
  align-items: center;
  justify-items: center; }

.speaker__img {
  justify-content: center;
  align-content: center; }

.speaker__cards--name {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  color: #222; }

.speaker__cards--position {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  color: #cc0303; }

.speaker__cards--business {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  color: #222; }

@media (max-width: 576px) {
  .speaker {
    justify-content: center;
    align-content: center; }
  .speaker__cards {
    border-radius: 1rem;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    min-width: 93vw;
    display: grid;
    align-items: center;
    justify-items: center; } }

/* contact form */
.title__contactForm {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 2em;
  color: #cc0303;
  text-align: center; }

.card__contactForm {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-top: 3px solid #cc0303;
  padding: 3rem;
  display: grid;
  justify-content: center;
  align-items: center; }
  .card__contactForm p {
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
    color: #222; }
