nav {
    margin: 1rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 2rem 0;
    width: 98vw;

    .navbar {
        @include flex ($direction: row, $justify: space-between, $align: center,); 
        padding: 0 2rem;
    }

    .logo {
        flex-basis: 10%;
    }

    .menu {
        flex-basis: 30%;
        @include flex ($justify: space-between,); 

        .menu__item {
            text-align: center;
            color: $secondary;

            &:hover {
                color: $primary;
                font-weight: 400;
            }

            .menu__link {
                font-size: 1.5em;
                padding: 1rem;
            }
        }
    }
}
