/* resources */

.cardResources {
    transition: transform 1s ease-in;
    margin: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-top: 3px solid $primary;


    .card-title {
        box-sizing: border-box;
        background-color: $primary;
        color: white;
        font-size: 1.5em;
        font-weight: 600;
        text-align: left;
        text-transform: uppercase;
        margin: 2rem 0;
        padding: 0 1rem ;
        width: 40%;
    }

    .card-text {
        box-sizing: border-box;
        color: $secondary;
        font-size: 2.5em;
        font-weight: 600;
        text-align: left;
        margin: 2rem 0;
        padding: 2rem;
    }

    .cardResources__button {
        margin: 2rem;
    }

    .card-footer {
        box-sizing: border-box;
        color: $secondary;
        font-size: 1.5em;
        font-weight: 400;
        text-align: left;
        margin: 2rem 0;
        padding: 2rem;

    }
}