/* referrals */

.referrals {
    margin: 1rem;
    border-radius: 1rem;
    align-items: center;
    background-image: linear-gradient(to right, #f02222, #fe6b6b);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    justify-content: space-around;
    align-items: center;

    h3 {
        text-align: left;
        line-height: 120%;
        font-size: 2em;
        color: $gray;
        text-align: left;
    }
    
    h3 span {
        text-align: left;
        line-height: 120%;
        font-size: 2em;
        color: $gray;
        text-align: left;
    }
    
}

