/* reset */

*,
*::after,
*::before {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}


/* globals */

html {
    font-size: 62.5%;
    
}

p {
    font-size: 2.4em;
    /* 16px */
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    /* Convierte en bloque la línea */
}

h1 {
    color: $gray;
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

span {
    margin: 0;
}

section {
    padding: 5rem 0rem 5rem 0rem;
}

.title {
    color: $primary;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    margin: 1em;
}

.subtitle {
    color: $secondary;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin: 1em;
}

/* button */

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-primary {
    color: white;
    font-family: $font-primary;
    font-size: 1.5em;
    border-radius: 0.5rem;
    background-color: $primary;
    border: none;
    padding: 4px;
    font-weight: 400;
    width: fit-content;
    height: 4rem;
    margin: 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button-secondary {
    color: white;
    font-family: $font-primary;
    font-size: 0.7em;
    border-radius: 0.5rem;
    background-color: $primary;
    border: none;
    padding: 4px;
    font-weight: 600;
    height: 3rem;
    margin: 4px;
}

.button-terciary {
    color: $primary;
    font-family: $font-primary;
    font-size: 1.5em;
    border-radius: 0.5rem;
    border: none;
    padding: 4px;
    font-weight: 600;
    height: 3rem;
    margin: 4px;
}


.button-outline {
    color: $primary;
    font-family: $font-primary;
    font-size: 1em;
    border-radius: 0.5rem;
    border: 1px solid $primary;
    padding: 4px;
    font-weight: 600;
    height: 3rem;
    margin: 4px;
    width: 16rem;
    text-align: center;
}


