$primary: #cc0303;
$secondary: #222;
$terciary: #00A2FF;
$gray: #f4f4f4;
$font-primary: 'Work Sans';
$text-lg: 2em;
$text-md: 1.6em;

$spacings: (
    xlarge: 5rem,
    large: 3rem,
    medium: 2rem,
    small: 1.5rem,
    xsmall: 1rem,
);

@each $var, $val in $spacings {
    .sp-#{$var}  {
        padding: #{$val};
    }    
}