<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <meta name="description"
        content="Software hotelero para aumentar tus reservas directas, disminuir el pago de comisiones y mejorar la gestión de tu hotel">
    <meta name="keywords"
        content="PXSOL PARA HOTELES, , B&BS, CHANNEL MANAGER, PMS, CRM, PXSOL ADS, MOTOR DE RESERVAS, BEST HOTEL BOOKING ENGINE, HOTELEROS, WEBSITE">

    <title>Referidos: Gana USD120 refiriendo a un colega y regálale más días de prueba gratuita
    </title>
</head>


<body>

    <!-- navbar -->
    <nav>
        <div class="navbar flex-row container">
            <picture class="logo">
                <a href="../../index.html"> <img src="../../assets/img/logotipo-pxsol.png" alt="logotipo pxsol">
                </a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="./referral.html" class="menu__link">Referidos</a>
                </li>
                <li class="menu__item">
                    <a href="./template.html" class="menu__link">Templates</a>
                </li>
                <li class="menu__item">
                    <a href="./webinar.html" class="menu__link">Webinars</a>
                </li>
            </ul>
            <button class="button-primary">
                <a href="./signup.html" target="_blank" rel="probar pxsol gratis">Probar Pxsol Gratis</a>
            </button>
        </div>
    </nav>
    <!-- fin navbar -->

    <!-- header -->
    <header>
        <h1>Programa de Referidos
            de Pxsol</h1>
        <h3>SGana USD120 refiriendo a un colega y regálale más días de prueba gratuita
            <div>
                <img src="" alt="imagen home">
            </div>
            <button class="button-primary">
                <a href="./signup.html" target="_blank" rel="probar pxsol gratis">Quiero referir</a>
            </button>
    </header>
    <!-- fin header  -->

        <!-- social proof -->
        <section class="container">
            <h3 class="title">Más de 500 hoteleros sumando huéspedes felices</h3>
            <div class="socialProof__grid">
                <picture class="social-proof__picture">
                    <img src="../../assets/img/imag-ilustrativa-hotel-diplomatic.jpg" alt="imagen ilustrativa hotel">
                </picture>
                <div class="social-proof__card card">
                    <div class="social-proof__comment">
                        <p>“La calidad de nuestra web y las funcionalidades de nuestro motor de
                            reservas nos permitieron aumentar las ventas directas a un nivel excelente.”</p>
                    </div>
                    <div class="social-proof__user">
                        <p>Santiago Alsina</p>
                    </div>
                    <picture>
                        <img class="social-proof__logotipo" src="../../assets/img/diplomatic-social-proof.webp"
                            alt="logotipo hotel diplomatic">
                    </picture>
                </div>
            </div>
        </section>
        <!-- fin social proof -->
    

    <!-- partners -->
    <section class="container">
        <h3 class="title">Partner</h3>
        </div>
        <div class="grid-partner flex-row">
            <div class="partner__card 1"><img class="partner__cards--logotipo"
                    src="https://f.hubspotusercontent40.net/hubfs/7398646/WEB/Imagenes%20Web%20Pxsol/Imagenes%20Home/socios_google.png">
            </div>
            <div class="partner__card 2"><img class="partner__cards--logotipo"
                    src="https://f.hubspotusercontent40.net/hubfs/7398646/WEB/Imagenes%20Web%20Pxsol/Imagenes%20Home/socios_parity.png">
            </div>
            <div class="partner__card 3"><img class="partner__cards--logotipo"
                    src="https://f.hubspotusercontent40.net/hubfs/7398646/WEB/Imagenes%20Web%20Pxsol/Imagenes%20Home/socios_mercadopago.png">
            </div>
            <div class="partner__card 4"><img class="partner__cards--logotipo"
                    src="https://f.hubspotusercontent40.net/hubfs/7398646/WEB/Imagenes%20Web%20Pxsol/Imagenes%20Home/socios_trip.png">
            </div>
            <div class="partner__card 5"><img class="partner__cards--logotipo"
                    src="https://f.hubspotusercontent40.net/hubfs/7398646/WEB/Imagenes%20Web%20Pxsol/5ff03e5d62e74ad6aab95cd1_channex_logo_v5_4_color@2x.png">
            </div>
            <div class="partner__card 6"><img class="partner__cards--logotipo"
                    src="https://f.hubspotusercontent40.net/hubfs/7398646/WEB/Imagenes%20Web%20Pxsol/1280px-Despegar.com_logo.svg.png">
            </div>
            <div class="partner__card 7"><img class="partner__cards--logotipo"
                    src="https://f.hubspotusercontent40.net/hubfs/7398646/WEB/Imagenes%20Web%20Pxsol/Imagenes%20Home/socios_paypal.png">
            </div>
            <div class="partner__card 8"><img class="partner__cards--logotipo"
                    src="https://f.hubspotusercontent40.net/hubfs/7398646/WEB/Imagenes%20Web%20Pxsol/Imagenes%20Home/socios_trivago.png">
            </div>
            <div class="partner__card 9"><img class="partner__cards--logotipo"
                    src="https://f.hubspotusercontent40.net/hubfs/7398646/WEB/Imagenes%20Web%20Pxsol/logo_roomcloud_cloud.png">
            </div>
        </div>

    </section>
    <!--fin partners -->

    <!-- recursos -->
    <section class="container">
        <h3 class="title">También podría interesarte</h3>
        <div class="grid-resources">
            <div class="card-1 card-resources-left">
                <img class="card-resources__image" src="../../assets/img/blog.webp" alt="imagen ilustrativa">
                <p class="card-resources__subtitle">Titulo</p>
                <p class="card-resources__description">Descripcion</p>
                <a class="card-resources__button button-terciary">Ver más +</a>
            </div>
            <div class="card-1 card-resources-left">
                <img class="card-resources__image" src="../../assets/img/blog.webp" alt="imagen ilustrativa">
                <p class="card-resources__subtitle">Titulo</p>
                <p class="card-resources__description">Descripcion</p>
                <a class="card-resources__button button-terciary">Ver más +</a>
            </div>
            <div class="card-3 card-resources-right">
                <img class="card-resources__image" src="../../assets/img/blog.webp" alt="imagen ilustrativa">
                <p class="card-resources__subtitle">Titulo</p>
                <p class="card-resources__description">Descripcion</p>
                <a class="card-resources__button button-terciary">Ver más +</a>
            </div>
        </div>
    </section>
    <!-- fin recursos -->

    <!-- referrals -->
    <section class="referrals">
        <div class="grid-referrals">
            <img class="picture__referrals" src="../img/mobile-referrals.png" alt="mobile programa de referidos">

            <h3 class="title__referrals"><b>Gana USD 120 refiriendo a un colega</b> <br> y regálale más días de prueba
                gratuita
            </h3>
            <a class="button-outline button__referrals" href="../../assets/view/referral.html" target="_blank" rel="probar pxsol gratis">Quiero saber más</a>
        </div>
    </section>
    <!-- fin referrals -->

    <!-- footer -->
    <footer>
        <div class="container">
            <div class="gridFooter__menu">
                <div class="gridFooter__left">
                    <h3 class="footer__title">Recursos</h3>
                    <br>
                    <ul class="footer__list">
                        <li class="footer__list--item"><a href="">Clientes</a></li>
                        <li class="footer__list--item"><a href="">Templates</a></li>
                        <li class="footer__list--item"><a href="">Blog</a></li>
                        <li class="footer__list--item"><a href="">Capacitaciones gratuitas</a></li>
                        <li class="footer__list--item"><a href="">Demos grabadas</a></li>
                        <li class="footer__list--item"><a href="">Términos y condiciones del servicio</a></li>
                        <li class="footer__list--item"><a href="">Políticas de privacidad</a></li>
                        <li class="footer__list--item"><a href="">PMS Integrados</a></li>
                        <li class="footer__list--item"><a href="">Canales de venta Integrados (OTAs)</a></li>
                        <li class="footer__list--item"><a href="">Developers (API)</a></li>
                    </ul>
                </div>
                <div class="gridFooter__leftCenter">
                    <h3 class="footer__title">Ejemplos de Uso</h3>
                    <br>
                    <ul class="footer__list">
                        <li class="footer__list--item"><a href="">¿Cómo aumentar tu ocupación?</a></li>
                    </ul>
                </div>
                <div class="gridFooter__rightCenter">
                    <h3 class="footer__title">Equipo</h3>
                    <br>
                    <ul class="footer__list">
                        <li class="footer__list--item"><a href="">Contáctanos</a> </li>
                        <li class="footer__list--item"><a href="">Quiénes omos</a></li>
                        <li class="footer__list--item"><a href="">Trabaja en Pxsol</a></li>
                    </ul>
                </div>
                <div class="gridFooter__right">
                    <h3 class="footer__title">Productos</h3>
                    <br>
                    <ul class="footer__list">
                        <li class="footer__list--item"><a href="">Contáctanos</a></li>
                        <li class="footer__list--item"><a href="">Quiénes Somos</a></li>
                        <li class="footer__list--item"><a href="">Trabaja en Pxsol</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="gridFooter__pxsol">
                    <div class="gridFooter__logotype">
                        <img src="https://www.pxsol.com/hs-fs/hubfs/logofooter.png?width=150&name=logofooter.png"
                            alt="logotipo pxsol">
                    </div>
                    <div class="gridFooter__socialMedia">
                        <a href="https://www.facebook.com/PXSOL/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/company/pxsol/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.instagram.com/pxsol/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCoTRm0dWRP9ySGKXCwA5qQA"><i
                                class="fab fa-youtube"></i></a>
                    </div>
                    <div class="gridFooter__copyright">
                        <p>Todos los derechos reservados © PXSOL | Política de privacidad | Al utilizar este sitio
                            web, acepta el uso de cookies.</p>
                    </div>
                </div>
            </div>
    </footer>
    <!-- fin footer -->

    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <!-- fin javascript -->
</body>

</html>