<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="./assets/img/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="../../css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
            rel="stylesheet">
        <meta name="description"
            content="Software hotelero para aumentar tus reservas directas, disminuir el pago de comisiones y mejorar la gestión de tu hotel">
        <meta name="keywords"
            content="PXSOL PARA HOTELES, , B&BS, CHANNEL MANAGER, PMS, CRM, PXSOL ADS, MOTOR DE RESERVAS, BEST HOTEL BOOKING ENGINE, HOTELEROS, WEBSITE">
    
        <title>Sign Up: El software hotelero número 1 para aumentar tus reservas directas, disminuir el pago de comisiones y
            mejorar la gestión de tu hotel.</title>
    </head>
    

<body>

<!-- contact form -->

<section></section>
    <div>
        <div>
            <div>
                <img src="" alt="logotipo pxsol">
            </div>
            <h1>Estas por abrir una cuenta</h1>
            <p>Texto</p>
            <div>
                <div>
                    <div>Card</div>
                    <div>Card</div>
                    <div>Card</div>
                </div>
                <div>
                    <div>Card</div>
                    <div>Card</div>
                    <div>Card</div>
                </div>
            </div>
        </div>
        <div>
                <h2>Registrarse</h2>
                <form action="" method="" enctype="">
                    <label for="nombre">Nombre</label><br>
                    <input type="text" name="nombre" id=""><br>
                    <label for="apellido">Apellido</label><br>
                    <input type="text" name="apellido" id=""><br>
                        <label for="nombre del establecimiento">Nombre del establecimiento</label><br>
                    <input type="text" name="nombre del establecimiento" id="nombre del establecimiento"><br>
                    <label for="cantidad de habitaciones">Cantidad de habitaciones, cabañas, etc.</label><br>
                    <input type="text" name="cantidad de habitaciones" id=""><br>
                    <label for="número de teléfono">Teléfono</label><br>
                    <input type="tel" name="número de teléfono" id=""><br>
                    <label for="email">Ingresar mail</label><br>
                    <input type="email" name="email" id=""><br>
                    <label for="repetir Email">Reingrese su email</label><br>
                    <input type="email" name="repetir Email" id=""><br>
                    <label for="contraseña">Ingrese su contraseña</label><br>
                    <input type="password" name="contraseña" id=""><br>
                    <button type="submit">Contactar</button>
                </form>
        </div>
    </div>
</section>
<!-- fin contact form -->

    
</body>
</html>